.dash-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.dash-container h4 {
    text-align: center;
}

table {
    width: 100%;
}

.dash-container table, th, td  {
    border: 1px solid black;
    border-collapse: collapse;
}
